@keyframes logo-animation {
	0% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(90deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

.site-header {
	flex-shrink: 0;
	align-self: flex-start;
	margin-bottom: 1rem;
	margin-left: calc(6px + 3rem);

	.site-logo {
		display: block;
		width: auto;
		height: 3.5rem;
		outline: 1px solid transparent;
		transform-style: preserve-3d;
	}

	@media (hover: hover) and (pointer: fine) {
		.site-logo {
			animation-name: logo-animation;
			animation-duration: 13s;
			animation-iteration-count: infinite;
			animation-timing-function: steps(128);
			animation-fill-mode: forwards;
		}

		@media (prefers-reduced-motion: reduce) {
			.site-logo {
				animation: none;
			}
		}
	}

	@media (max-width: 630px) and (orientation: portrait) {
		align-self: center;
		margin-left: 0;

		.site-logo {
			animation: none;
		}
	}
}
